COMPOSE_PROJECT_NAME=universe-prod
NEXTJS_CONTEXT=../app
NEXTJS_DOCKERFILE=../app/Dockerfile
NEXTJS_IMAGE=universe/nextjs
NEXTJS_IMAGE_TAG=prod
NEXTJS_PROXY_HTTP_PORT=80
NEXTJS_PROXY_HTTPS_PORT=443
CADDY_HOSTNAME=example.com
CADDY_EMAIL=ops@example.com
